<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Cần cho Firebase Auth. Phần ôn tập/thi vẫn chạy được khi không có mạng. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Chụp ảnh đại diện. Quyền này được xin lúc chạy (runtime permission). -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Máy không có camera vẫn cài được app (vẫn chọn ảnh từ thư viện). -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Oto">
        <!-- Màn hình mở đầu: đăng nhập. Nếu đã đăng nhập sẵn thì vào thẳng trang chủ. -->
        <activity
            android:name=".auth.DangNhapActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".auth.DangKyActivity"
            android:parentActivityName=".auth.DangNhapActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".auth.QuenMatKhauActivity"
            android:parentActivityName=".auth.DangNhapActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- parentActivityName: cho nút Back trên ActionBar biết quay về đâu. -->
        <activity
            android:name=".ui.OnTapActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.ThiActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.KetQuaActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.BienBaoActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.ChiTietBienBaoActivity"
            android:parentActivityName=".ui.BienBaoActivity" />
        <activity
            android:name=".ui.ThongKeActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.LichSuActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.AdminActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.SuaCauHoiActivity"
            android:parentActivityName=".ui.AdminActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.AdminBienBaoActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.SuaBienBaoActivity"
            android:parentActivityName=".ui.AdminBienBaoActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.CaNhanActivity"
            android:parentActivityName=".MainActivity" />

        <!-- Cho phép app Camera ghi ảnh vào file của app một cách an toàn. -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

    <!-- Khai báo các app ngoài mà ta gọi bằng Intent ngầm (bắt buộc từ Android 11). -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="geo" />
        </intent>
        <intent>
            <action android:name="android.intent.action.DIAL" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="mailto" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="text/plain" />
        </intent>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
            <data android:mimeType="image/*" />
        </intent>
    </queries>

</manifest>